footer.footer
	.footer__wrap
		.footer-top
			.footer-top__soc
				.footer-top__soc-title Присоединяйся
				.soc
					a.soc__link(href="#")
						img(src="img/ico-vk.svg")
					a.soc__link(href="#")
						img(src="img/ico-fb.svg")
					a.soc__link(href="#")
						img(src="img/ico-inst.svg")
					a.soc__link(href="#")
						img(src="img/ico-ok.svg")
			nav.footer-top__menu
				each menu, i in [{title: "Компания", list: ["Новости", "Партнеры", "Преимущества", "Ваша карьера", ]}, {title: "Коллекция", list: ["Городская классика", "Современная коллекция/Модерн", "Классика", ]}, {title: "Покупателю", list: ["Цена", "Рассрочка", "Отзывы", "Полезное", "7 шагов к Вашей кухне"]}, {title: "Распродажа", list: ["Акции"]}, {title: "Дилерам", list: ["Адреса салонов", "Новые открытия",]}, ]
					ul.f-menu
						li.f-menu__item.f-menu__item--title
							a.f-menu__link(href="#")=menu.title
						each item in menu.list
							li.f-menu__item
								a.f-menu__link(href="#")=item
						if (i == 3)
							li.f-menu__item.f-menu__item--title
								a.f-menu__link(href="#") Где купить?
		.footer-bot
			.footer-bot__copy
				span © 2019 «LORENA кухни»
				a(href="#") Политика конфиденциальности
			address.footer-bot__phone
				a(href="tel: 8 (800) 200-92-20") 8 (800) 200-92-20
				a(href="#") Будем рады сотрудничеству:
			.footer-bot__developer
				a.dev(href="#")
					img(src="img/ico-developer.svg")