<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Лорена
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/common.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					img(src="img/logo.png")
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						li
							a(target="_blank" href="catalog.html") Каталог
						li
							a(target="_blank" href="news.html") Новости
						li
							a(target="_blank" href="tovar.html") Карточка 
						li
							a(target="_blank" href="steps.html") 7 шагов
						li
							a(target="_blank" href="prices.html") Цены
						li
							a(target="_blank" href="new.html") Новые открытия
						li
							a(target="_blank" href="standart-page.html") Типовая страница
						li
							a(target="_blank" href="advantages-new.html") Приемущества
						li
							a(target="_blank" href="stock.html") Акции
						li
							a(target="_blank" href="reviews.html") Отзывы
						li
							a(target="_blank" href="useful.html") Полезное
						li
							a(target="_blank" href="addresses.html") Адреса
						li
							a(target="_blank" href="new-partners.html") Партнёры
						li
							a(target="_blank" href="career.html") Ваша карьера
						li
							a(target="_blank" href="about.html") Компания 
						li
							a(target="_blank" href="sale.html") Распродажа 
						li
							a(target="_blank" href="sale-detail.html") Детальная распродажа
						li
							a(target="_blank" href="deallers.html") Дилерам
						li
							a(target="_blank" href="404.html") 404 страница
						li
							a(target="_blank" href="forms.html") Формы